@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --libertadores-color: rgba(0, 119, 255, 0.87);
    --qualify-libertadores-color:rgba(255, 174, 0, 0.87) ;
    --sulamericana-color: rgba(0, 202, 10, 0.87);
    --rebaixamento-color: rgba(255, 0, 0, 0.87);
}

* {
    font-family: "Poppins", sans-serif;
}

.theme-showcase .navbar .container {
    width: auto;
  }
.escudo-mini{
    height: 2em;
}

.escudo-medio{
    height: 3em;
}

.logo-time {
    width: 8%;
}

.icon-register {
    width: 20px;
}

.time-rebaixado {
    border-left: 3px !important; 
    border-left-style: solid !important;
    border-color: var(--rebaixamento-color) !important;
}

.time-libertadores {
    border-left: 3px !important; 
    border-left-style: solid !important; 
    border-color: var(--libertadores-color) !important;
}

.time-sulamericana {
    border-left: 3px !important; 
    border-left-style: solid !important; 
    border-color: var(--sulamericana-color) !important;
}

.time-qualify-libertadores {
    border-left: 3px !important; 
    border-left-style: solid !important; 
    border-color: var(--qualify-libertadores-color) !important;
}

.legenda-icone {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

#legenda-rebaixamento {
    background-color: var(--rebaixamento-color);
}

#legenda-libertadores {
    background-color: var(--libertadores-color);
}

#legenda-sulamericana {
    background-color: var(--sulamericana-color);
}

#legenda-qualify-libertadores {
    background-color: var(--qualify-libertadores-color);
}

#legenda-tabela {
    cursor: default;
}

.linha-time {
    cursor: pointer; 
}

.lista-modal li {
    display: flex; 
    justify-content: space-between;
}

/*
CSS usados por mim mas que vocês não precisam utilizar
tr td:first-child{
    width: 1%;
}
table tr:not(:first-child) td:nth-child(odd):not(:first-child){
    background-color: #f8f8f8;
}

.borderless{
    border-width: 0px;
}

a > li{
    color: black;
}
.versus-symbol{
    font-weight: bold ;
    font-size: xx-large;
}

.center{
    display: table;
    margin: 1em auto;
}*/

/* Estilo para o menu que lista os jogos */
.template-tabela .carousel-control {
    height: 70px;
}

.template-tabela #carousel-table .carousel-control.right,
.template-tabela #carousel-table .carousel-control.left {
    margin-left: auto;
}

.tabela-page {
    border-left: 1px solid #fff;
    border-right: 1px solid transparent;
}

.titulo-item-carousel {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin: 20px 140px;
    text-transform: uppercase;
}

.subtitulo-item-carousel {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.titulo-carousel-small {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.conjunto-tabela {
    margin-bottom: 40px;
}

.tabela-page td {
    padding: 10px 10px;
}

.tabela-page .item {
    text-align: center;
}

.tabela-page .par {
    background-color: #eee;
}

.first-line {
    font-weight: bold;
}

.scale {
    float: right;
}

.div-grupo {
    border-top: 1px solid gray;
}

.tabela-pontos p {
    color: gray;
}

.atletica-icone img {
    width: 60px;
}

.atleticas-box {
    width: 90%;
    float: right;
}

.atleticas-box a,
.atleticas-box a:hover {
    color: #333;
    text-decoration: none;
}

.atleticas-box .glyphicon-remove {
    padding: 20px;
}



#carousel-table .carousel-control.left,
#carousel-table .carousel-control.right {
    background-image: none !important;
    width: 6%;
}

.template-tabela .carousel-control {
    height: 70px;
}


#carousel-table .carousel-control .icon-prev,
#carousel-table .carousel-control .icon-next,
#carousel-table .carousel-control .glyphicon-chevron-left,
#carousel-table .carousel-control .glyphicon-chevron-right {
    top: 0%;
    color: #333;
    margin-top: 20px;
}

.lista-jogos {
    font-size: 16px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    height: 90%;
}

.lista-jogos__jogo {
    border-bottom: 1px solid #e3e3e3;
    display: block;
}

.jogo__informacoes {
    color: #555;
    font-family: opensans;
    font-size: 0.6875em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.3px;
    text-transform: uppercase;
    text-align: center;
}

.placar {
    align-items: center;
    color: #333;
    display: flex;
    height: 4em;
    justify-content: center;
}

.placar-box {
    align-items: center;
    color: #111;
    display: flex;
    flex-grow: 2;
    height: 40px;
    justify-content: center;
    width: 30%;
}

.placar-box__versus {
    display: flex;
    height: 8px;
    margin: 0 5px;
    overflow: hidden;
    align-items: center;
    vertical-align: middle;
    width: 9px;
}

.placar-box__valor {
    font-size: 1.3125em;
    font-family: opensans;
    font-style: normal;
    font-weight: 700;
    vertical-align: middle;
}

.jogo {
    height: 109px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


.lista-jogos__navegacao {
    border-bottom: 1px solid silver;
    border-top: 1px solid #ddd;
    color: #111;
    display: flex;
    font-family: ProximaNova;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    line-height: 2.4375em;
    text-align: center;
    text-transform: uppercase;
}

.lista-jogos__navegacao--seta-esquerda svg {
    transform: rotate(180deg);
}

.lista-jogos__navegacao--setas svg {
    height: .7em;
    stroke-width: 10px;
}

.lista-jogos__navegacao--rodada {
    flex-grow: 2;
}

.lista-jogos__navegacao--setas:last-of-type {
    text-align: right;
}

.lista-jogos__navegacao--setas-ativa {
    cursor: pointer;
}
.lista-jogos__navegacao--setas {
    color: #ccc;
    flex-grow: 1;
    text-align: left;
    font-size: 1.5em;
    height: 1.5em;
    fill: #ccc;
}