{% extends "base.html" %}

{% block app_content %}
<div class="container mt-4 mb-5">
	<div class="row justify-content-center">
		<h1>Classificação</h1>
	</div>
	<div class="row justify-content-center">
		<table class="table border bg-white w-75">
			<thead>
				<tr>
				  <th scope="col" colspan="2">Time</th>
				  <th scope="col">PT</th>
				  <th scope="col">V</th>
				  <th scope="col">E</th>
				  <th scope="col">D</th>
				  <th scope="col">SG</th>
				  <th scope="col">GP</th>
				  <th scope="col">GC</th>
				  <th scope="col">CA</th>
				  <th scope="col">CV</th>
				</tr>
			  </thead>
			  <tbody>
				  {% for i in range(0, qnt_times, 1) %}
				  
				<tr class="{{'time-rebaixado' if situacao_time(i + 1, [17, 18, 19, 20])}}
					{{'time-libertadores' if situacao_time(i + 1, [1, 2, 3, 4])}}
					{{'time-sulamericana' if situacao_time(i + 1, [7, 8, 9, 10, 11, 12])}}
					{{'time-qualify-libertadores' if situacao_time(i + 1, [5, 6])}}
					">
				  <th scope="row">{{ i + 1 }}º</th>
				  <td>
					  <img src="{{ times[i].escudo }}"
						   alt="Logo {{ times[i].nome }}"
						   class="logo-time">
						{{ times[i].nome }}
				  </td>
				  <td>{{ times[i].pontos }}</td>
				  <td>{{ times[i].vitorias }}</td>
				  <td>{{ times[i].empates }}</td>
				  <td>{{ times[i].derrotas }}</td>
				  <td>{{ times[i].saldo_gols }}</td>
				  <td>{{ times[i].gols_pro }}</td>
				  <td>{{ times[i].gols_contra }}</td>
				  <td>{{ times[i].cartoes_amarelos }}</td>
				  <td>{{ times[i].cartoes_vermelhos }}</td>
				</tr>
				{% endfor %}
				<tr>
					<td colspan="11">
						<div class="card border-0">
							<h5 class="card-title">Legenda</h5>
							<div class="card-body">
								<div class="row">
									<div class="col">
										<div class="d-flex align-items-center mb-2">
											<div id="legenda-libertadores" class="legenda-icone mr-2"></div>
											Fase de grupos da Libertadores
										</div>
										<div class="d-flex align-items-center">
											<div id="legenda-qualify-libertadores" class="legenda-icone mr-2"></div>
											Qualificatórias da Libertadores
										</div>
									</div>
									<div class="col">
										<div class="d-flex align-items-center mb-2">
											<div id="legenda-sulamericana" class="legenda-icone mr-2"></div>
											Fase de grupos da copa Sul-Americana
										</div>
										<div class="d-flex align-items-center">
											<div id="legenda-rebaixamento" class="legenda-icone mr-2"></div>
											Zona de Rebaixamento
										</div>
									</div>
								</div>							
							</div>
						</div>
					</td>
				</tr>
			  </tbody>
		</table>
	</div>
</div>

{% endblock %}
